@model BB.SmsQuiz.Web.Models.AuthenticationViewModel
@{
    ViewBag.Title = "Authenticate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm("Index", "Authentication", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="control-group">
        @Html.LabelFor(model => model.Username, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.Username)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(model => model.Password, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(model => model.Password)
        </div>
    </div>
   
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </div>
}