<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SmsQuizConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SmsQuiz;Data Source=.\sqlexpress" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>