@model List<BB.SmsQuiz.Services.Messaging.Competition.PossibleAnswerItem>

@for (int i = 0; i < Model.Count(); i++)
{
    <div class="editor-label">
        @Html.LabelFor(model => Model[i].AnswerText)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => Model[i].AnswerText)
        @Html.RadioButton("answerKey", Model[i].AnswerKey, Model[i].IsCorrectAnswer, new { ID = "answerKey_" + i }) 
        @Html.ValidationMessageFor(model => Model[i].AnswerText)
    </div>     
}