@model BB.SmsQuiz.Web.Models.CompetitionViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
  <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider">/</span></li>
  <li>@Html.ActionLink("Competitions", "Index", "Competitions") <span class="divider">/</span></li>
  <li class="active">Edit - @Model.Question</li>
</ul>

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Competitions", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.Partial("Competition", @Model)

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}