<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString"
   value="" />
    <add key="IncomingConnectionString"
   value="" />
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="false">
    </compilation>
    <authentication mode="Forms">
      <forms name=".smsCookie" loginUrl="login/login.aspx" protection="All" timeout="30" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
</configuration>